.project-section{
    display: flex;
    
}
.projects{
    padding-left: 50px;
    /* background-color: #e2bcb7; */
    width: 80%;
}
.project1{
    width: 260px;
    height: 290px;
    object-fit:cover;
    border-radius: 10px;
}
.project-info{
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    display: grid;
    grid-template-columns: 260px 260px 260px;
    grid-gap: 40px;
}

.project-img{
    position: relative;
}
.project-link{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    opacity: 0;
    background-image: linear-gradient(to bottom right, #fdbaf8, #c67aceda 40%, #c3d84bde 80%);
    z-index: -1;
    transition: all 0.3s ease;
    cursor: pointer;

}
.single-project:hover .project-link{
    opacity: 1;
    z-index: 1;
    border-radius: 10px;
    box-shadow: 0 20px 25px rgba(0, 0, 0, 0.39);
}
.link{
    position:absolute;
    text-decoration: none;
    color: white;
    font-weight: 700;
    letter-spacing: 3px;
    font-size: 20px;
    margin: 130px 55px;
}

