.sidebar{
    width: 20%;
    background-color: #164d42;
}
.sidebar-link{
    margin:60px auto;
}
.sidebar-link li{
    margin-left: 25px;
    margin-bottom: 40px;
    list-style: none;
}
.sidebar-link li a{
    text-decoration: none;
    font-size: 17px;
    letter-spacing: 1px;
    color: white;
    font-weight: 500;
    transition: letter-spacing .57s;
}
.sidebar-link li a:hover{
    letter-spacing: 6px;
}